
header {
    text-align: center;
    background-color: cadetblue;
    color: black;
    padding: 10px;
    font-size: 60px;

}

body {
	line-height: 1;
    background: rgb(143, 173, 122);
    background-image: url("../images/pic01.jpg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

#demo{
    color:rgb(10, 77, 13);
    font-size: 60px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/bg.jpg"); */