<!DOCTYPE HTML>

<!-- Website created by Ian A roberts -->

<html>

<head>
    <title>Ian Roberts</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!--JS-->
</head>

<body>

    <header>
        <h1>Ian Alexander Roberts</h1>
    </header>

    <section>
        <img src="{{ url_for('static', filename='images/pic01.jpg')}}" width=1100>
    </section>

    <footer>
        <p id="demo">This is stuff</p>
        <script src="{{ url_for('static', filename='js/myfile.js') }}"></script>
    </footer>


</body>


</html>