<head>
    <title>Ian Roberts</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!--JS-->
</head>

<nav>
    <a href="{{ url_for('index')}}">Home</a>
    <a href="{{ url_for('skills')}}">Skills</a>
    <a href="{{ url_for('business')}}">Business</a>
    <a href="{{ url_for('hobbies')}}">Hobbies</a>
    <a href="{{ url_for('projects')}}">Projects</a>
    <a href="{{ url_for('work')}}">Work Experience</a>
    <a href="{{ url_for('techblog')}}">Tech Blog</a>
    <a href="{{ url_for('subscribe')}}">Subscribe</a>
    <a href="{{ url_for('register')}}">Register</a>
</nav>

<br>
{% block content %}
{% endblock %}
<br>