{% extends 'base.html' %}
<!DOCTYPE HTML>

<!-- Website created by Ian A roberts -->

<html>
{% block content %}

<head>
    <title>Ian Roberts</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>


<body>



    <header>
        <h1>Ian Alexander Roberts</h1>
    </header>





    <article>

        <img src="{{ url_for('static', filename='images/ian-logo.svg')}}" class="center" width="600" height="600">

    </article>

    <!-- <footer>
        <p id="demo">This is stuff</p>
        <script src="{{ url_for('static', filename='js/myfile.js') }}"></script>
    </footer> -->


</body>


{% endblock %}

</html>